@import 'refcard';
@import 'theref';
@import 'photoswipemain';
@import 'photoswipe';
@import 'gallery';

.brand {
    position: relative;
    margin: 1.5rem auto 4rem;
    display: block;
    text-decoration: none;
    height:10rem;
    width:10rem;
    //background: red;
    img {
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        filter: brightness(80%) grayscale(100%);
        width:11rem;
        max-width: none;
    }

}

.brand__desc {
    position:absolute;
    bottom:0;
    font-size: .75em;
    font-weight: 700;
    opacity: .75;
    line-height: 1;
    display: inline-block;
    display:inline-block;
    white-space: nowrap;
    letter-spacing: .1em;
    //transform: translateY(-1.5em);
    // &:before {
    //     content:' • ';
    // }
    // &:after {
    //     content: ' • ';
    // }
}
.menu--main {
    list-style:none;
    margin:0;
    padding:0;
    font-size: 1.125rem;
    text-transform: lowercase;
    letter-spacing: .1125em;
    > li {
        margin:0;
        padding:0;

        a {
            color:inherit;
            display: inline-block;
            padding:.666em 0;
            line-height: 1;
            text-decoration: none;
        }
    
    }
    li:last-child {
        margin-top: 1.3em;
        padding-top:1.3em;
        //border-top:1px solid rgba($body-font-color,.25);
        
    }
}


