.theref {

}

.theref__fig {
    margin:0;
    padding:0;
    @include breakpoint(1140px) {
        margin:0;
    }

    .home & {
        height:90vh;
        @include breakpoint(1140px) {
            height:85vh;
        }
        img {
            object-fit: cover;
            width: 100%;
            height:100%;
        }        
    }
}
.theref__header {
    display:grid;
    grid-template-columns: 1;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin:1rem 1rem;

    @include breakpoint(768px) {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(768px) {
        grid-template-columns: 1.5fr 1fr;

    }

    @include breakpoint(1140px) {
        margin:1rem 0 0 0;

        //grid-template-columns: 1.5fr 1fr;
    }
}



.theref__title {
    //font-weight: 400;
    font-size:1.25rem;
    margin:2rem 0 0;
    text-transform: uppercase;
    letter-spacing: .1125em;
}


.theref__quote {
    margin:0;
    padding:0;
    //font-size:1.125rem;
    color: #5d5d5d;
    font-weight: 700;
    //font-style: italic;
    line-height: 1.6;
    p {
        margin:0 0 1rem;
    }
    cite {
        color:$body-font-color;
        font-size:75%;
        line-height: 1;
        font-style: normal;
        font-weight: 400;
        &:before {
            content:'—';
        }
        a {
            text-decoration: none;
            color:inherit;

        }
    }
}

.theref__gallery {
    //grid-column: 1 / span 1;
    grid-row: 2 / span 1; 

    @include breakpoint(480px) {
    }
    @include breakpoint(768px) {
        grid-row: 1 / span 1;    
    }
    @include breakpoint(1700px) {
    }
}


.minititle {
    border-top: 1px solid rgba(#000,.125);
    font-size: 1rem;
    margin:10rem 0 .25rem;
    padding-top:2rem;

}
.relprods {
    list-style: none;
    margin:0;
    padding:0;
    font-size: .875rem;
    //font-weight: 700;
    > li {
        display: inline-block;
        &:not(:last-child):after {
            content: ' • ';
            font-weight: 700;
        }
        a {
            text-decoration: none;
            color: inherit;
            &:hover, &:focus {
                text-decoration: underline;

            }
        }
    } 
}

.theref__params {
    margin:1rem 0;
    display: grid;
    grid-gap:.5rem 1rem;
    grid-template-columns: 7rem 1fr;
    font-size:.875rem;

    dt {
        font-weight: 700;
        &:after {
            //content:':';
        }

    }
    
    dd {
        margin:0;
    }

    


}