
html {
    font-family: $body-font-family;
    color: $body-font-color;
    background-color: $body-background-color;
    line-height:1.4;
}

body {
    background-color: $body-background-color;
    // -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    // -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
}
// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    // Get rid of gap under images by making them display: inline-block; by default
    display: inline-block;
    vertical-align: middle;

    // Grid defaults to get images and embeds to work properly
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
  }

  hr {
    border:none;  
    border-top: 1px solid rgba(#000,.125);;
    margin:1rem 0 1rem;
}

a {
    color: inherit;
}

h1, h2, h3 {
    letter-spacing: .1125em;
    text-transform:uppercase;
}