.basegrid {
    margin:0 0;
    display: grid;
    grid-template-columns: 1fr;
    //grid-column-gap: 2vw;
    //grid-row-gap: 2vw;
    justify-items: center;
    //min-height: 100vh;
    @include breakpoint(1140px) {
        grid-template-columns: 1fr 3fr calc(1rem + 2vw);
        padding-top:calc(2rem + 2vw);
    }
    @include breakpoint(1600px) {

        grid-template-columns: 1fr 3fr .25fr;
    }
    @include breakpoint(1900px) {

        grid-template-columns: 1fr 4fr 1fr;
    }
}
.banner {
    position: relative;
    display: none;
    padding: 0 1rem 0;

    @include breakpoint(1140px) {
        display: block;
    }
}

.banner__inner {
    position: fixed;
    transform: translateX(-50%);
}

.main {
    ///background-color: red;
    //padding: 0 1rem;
    min-height: 90vh;
    justify-self: stretch;
}

.sidebar {
    padding: 0 1rem 0;
    ///background-color: blue;
}


.refgrid {
    list-style: none;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr) ) ;
    grid-gap: 4px;
    @include breakpoint(410px) {
        //grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(610px) {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr) ) ;
    }
    @include breakpoint(1900px) {
        //grid-template-columns: repeat(4, 1fr);
    }
}


.refgrid__item {
    
}

.row-fluid {
    line-height: 1.6;
    display: grid;
    //max-width:50rem;
    grid-gap:3.5%;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr) ) ;
    padding:0 1rem;
    @include breakpoint(720px) {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr) ) ;
        //grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(768px) {
        //grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(1140px) {
        padding:0 0;
    }
}

.page-header {
    margin: 4.5rem 0 4.5rem;
    h1 {
        font-size:1.333rem;
    }
}