.mobileheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    @include breakpoint(1140px) {
        display: none;
    }
}

.mobilebrand {
    //margin:2vw auto 0;
    display: inline-block;
    max-width: 5rem;
    text-align: center;
    font-size: 2rem;
    img {
        filter: brightness(80%) grayscale(100%);
    }
}

.menutoggle {
    display: inline-block;
    font-size: .875rem;
    line-height: 1;
    padding:.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1125em;
    @include breakpoint(1140px) {
        display: none;
    }
} 
.menuclose {
    display: inline-block;
    font-size: 3rem;
    width:1.125em;
    height:1.125em;
    line-height: 1;
    padding:.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    //border:1px solid currentColor;
    border-radius: 50%;
}


.mobilenav {
    //overflow: auto;
    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    //flex-wrap: wrap;

    text-align: center;
    position: fixed;
    left:0; top:0;
    height:100%;
    width:100%;
    z-index:-1;

    background-color: rgba(#fff,.95);
    @include breakpoint(1140px) {
        display: none;
    }
}

.mobilenav.is-active {
    z-index: 10;
}

.menu--mobile {
    list-style:none;
    margin:2rem 0 2rem;
    padding:0;
    font-size: calc(1rem + 1vw);
    text-transform: lowercase;
    letter-spacing: .1125em;
    text-align: center;
    > li {
        margin:0;
        padding:0;

        a {
            color:inherit;
            display: inline-block;
            padding:.5em 0;
            line-height: 1;
            text-decoration: none;
        }
    
    }
    li:last-child {
        margin-top: 1em;
        padding-top:1em;
        //border-top:1px solid rgba($body-font-color,.25);
        
    }

}

